body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: black;
  }
  
.center-frame {
    border: 10px solid darkred; /* Kara çerçeve kalınlığı ve rengi */
    padding: 20px; /* İçerik ile çerçeve arasındaki boşluk */
    background-color: #ec2727; /* Çerçeve içi arkaplan rengi */

}

#submitButton {
    background-color: #71be15;
    padding: 15px;
    margin-top: 5px;
    font-size: large;
    border-color: black;

}

#demoButton {
    position: fixed;
    top: 10px; /* Sayfanın üstünden mesafe */
    right: 10px; /* Sayfanın sağ tarafından mesafe */
    background-color: purple;
    font-size: 20px;
}


