

body {
    text-align: center;
    background-color: #37393a;
    color: black;
}

.time {
    font-size: 27px;
    color: #000081;
}

.geriDon {
    font-size: 30px;

}

.days {
    font-size: 35px;
}

td {

    background-color: grey;

    width: 100px;
    height: 60px;

}

table {
    width: 100%;

}

select {
    width: 75%;
    height: 45px;
    font-size: large;
    border-color: black;
    background-color: rgb(48, 47, 47);
    color: white;
}

.days {
    background-color: #bd0f0f;
    color: #9d9d10;

}

.times {
    color: blue;
    font-weight: bold;
}


button {
    padding: 15px;
    margin: 5px;
    font-size: medium;
    background-color: #37393a;
    color: white;

}

option {
    font-size: 3ch;
}

#aktsBox {
    float: right;
    font-size: 25px;
    height: 40px;
    padding: 5px;
    margin: 5px;
    background-color: #8f7600;
}

